li button {
    animation: swipe-hide 100ms ease forwards;
}

li:hover button {
    animation: swipe-visible 100ms ease forwards;
}

ul {
    max-height: calc(100vh - 300px);
}

.disabled-button {
    opacity: 0.7;
}

@keyframes swipe-visible {
    from {
        transform: translateX(101%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes swipe-hide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}